{% extends 'main/base.html' %}

{% block title %} Conversafe - Games and Events {% endblock %}




{% block content %}

<style type="text/css">
.section {
    justify-content: flex-start;
    align-items: end;
}

.card{
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	flex-direction: column;
	height: 13rem;
	margin-top: 0.5rem;
	margin-left: 1rem;
	width: 20em;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

.someBtn{
	background-color: #007FFF;
	transition: 0.4s;
}
.someBtn:hover{
	background-color: #4C51E0;
}
</style>

<div class="border-2 border-gray-700 bg-gray-800 mr-8 mt-8 pb-4 rounded-xl relative" style="width:90%; height: auto;">
    <h1 class="text-white pl-4  pt-8 text-4xl">Play a quiz game🎮</h1>
    <p class="text-[#C8C8C8] pl-4" data-aos="fade-in">Have some fun with the interactive quiz game!</p>
    
    <div class="flex flex-row justify-start text-white items-center overflow-scroll" >
    	<a href="/startQuiz/" class="coolButton shadow-2xl bg-[#4C51E0] w-32 my-4  mx-3 text-center rounded-md text-white px-2 py-2 flex flex-row items-center "> Play now <svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z" fill="#ffffff"></path> </g></svg>
        </a>
    
    </div>
</div>

<div class="border-2 border-gray-700 bg-gray-800 mr-8 mt-8 pb-4 rounded-xl relative" style="width:90%; height: auto;">
    <h1 class="text-white pl-4  pt-8 text-4xl">More Learning 📚</h1>
    <p class="text-[#C8C8C8] pl-4" data-aos="fade-in">Get to know about more amazing sources to learn English and other skills too!</p>
    <button class="someBtn text-white rounded-full absolute px-2 py-1 shadow-xl" style="left: 1.5rem; bottom:7rem;" onclick="document.getElementById('card-container').scrollLeft-=100;">
    	<i class='bx bx-chevron-left'></i>
    </button>
    	<button class="someBtn text-white rounded-full absolute px-2 py-1 shadow-xl" style="right: 1rem; bottom:7rem;" onclick="document.getElementById('card-container').scrollLeft+=100;">
    		<i class='bx bx-chevron-right'></i>
    	</button>
    <div class="flex flex-row justify-start text-white items-center overflow-scroll" id="card-container">
        
       {% for source in learning_sources %}
        <div class="card border-2 border-gray-700 bg-gray-800 rounded-xl overflow-x-scroll">
        	<div class="flex flex-row items-center justify-center">
        	<img src="https://www.google.com/s2/favicons?sz=64&domain_url={{ source.urlNoProtocol }}" style="width: 4rem; height: 4rem;">
        	</div>
        	<a class="text-white text-xl text-center font-bold" href="{{ source.siteUrl }}"> {{ source.siteName }}</a>
        	<p class="text-[#4C51E0] font-semi-bold text-center">{{ source.siteType }}</p>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock %}


