{% extends 'main/base.html' %}
{% block title %} Conversafe - Notifications {% endblock %}
{% block content %}
<style type="text/css">
.notificationContainer {
    height: 80vh;
    overflow: scroll;
}

.notificationList li {
    border-bottom: rgb(50, 50, 50);
}

.notificationList li:hover {
    background-color: rgb(55, 65, 81);
}

.closeButton {
    transition: all 0.5s;
}

.closeButton:hover {
    color: white;
}
</style>

{% csrf_token %}


<div class="flex flex-col justify-center items-center" >
    <h1 class="text-white text-3xl mb-4 " id="button">Notifications</h1>
    {% if notifications_count != 0 %}
    <div class="flex flex-col  border-2 border-gray-700 w-[80vw] notificationContainer" >
        <ol class="bg-gray-700 notficationList" id="notification-list">
            {% for notif in notifications_unread %}
            <li>
                <div class=" flex flex-row items-center  border-2 border-gray-700 py-8 relative">
                    <div class="text-gray-400 ml-4 mr-8 closeButton" onclick="hideNotification(this);deleteNotification(this);" data-notificationid="{{notif.id}}" data-test="testPrintHEHEHE">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </div>
                    <a href="{{ notif.link }}">
                        <div class="flex flex-col justify-center ">
                            <h1 class="text-left text-white text-xl">{{ notif.title }}
                            </h1>
                            <p class="text-gray-500 text-left">
                                {{ notif.desc }}
                            </p>
                        </div>
                    </a>
                    <p class="text-gray-500 text-left absolute top-2 " style="right: 0.5rem;">
                        {{ notif.timestamp }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
    {% else %}
    <div class="flex flex-col  border-2 border-gray-700 w-[80vw] justify-center items-center notificationContainer">
        <h1 class="text-gray-400">No notifications available at the moment...</h1>
    </div>
    {% endif %}
</div>

<script type="text/javascript">

function hideNotification(element) {
    element.parentNode.style.display = "none";
    notifCount -= 1;
    // console.log("notification dialog about to be shown");
    if (notifCount == 0) {
        const notifContent = document.getElementById('notification-list');
        notifContent.insertAdjacentHTML("afterend",
           `<div class="flex flex-col  border-2 border-gray-700 w-[80vw] justify-center items-center notificationContainer">
            <h1 class="text-gray-400">No notifications available at the moment...</h1>
            </div>`);
        document.getElementById('notification-list').style.display="none";
}
}
    
</script>


{% endblock %}