asgiref
attrs
beautifulsoup4
channels==4.1.0
daphne
Django
django-channels==0.7.0
django-mails
django-smart-selects
django-tagging
django-tastypie
django-timezone-field
django-treebeard
Django-Verify-Email==2.0.3
djangocms-admin-style
exceptiongroup
executing
fastjsonschema
filelock
gTTS
httpcore
httpx
pillow
pygame
python-dateutil
python-json-logger
python-mimeparse
referencing
regex
requests
requests-oauthlib
libretranslate
six
sqlparse
tokenizers
torch
tornado
traitlets
transformers
triton
typing_extensions
urllib3
webencodings
websocket-client
pyspellchecker
