/* Overall */
body, html {
  scroll-behavior: smooth;
	background-color:rgb(10,10,10);
	
	height: 100%;
}

*{
	font-family: 'Montserrat', sans-serif;

}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(37,44,59);
  border-radius: 2px;
  transition: all 1s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(67,74,89);
}


/*Elements*/

ul{
	list-style-type: disk;
}


/*Loader*/


#loader {
	position: absolute;
	z-index: 10000;
	background-color:black;
	width: 100svw;
	height: 100svh;
	color:white;
	transition: 1s all linear;
	overflow: hidden;
}


/*Landing Page CSS*/
section{
	margin: 0;
}

.hero{
/*	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../res/bg/hero2.jpg");*/
	
	background-color: rgb(0,3,25);

	background-size: cover;
	background-repeat: none;
  background-position: center;
}

#about{
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("../res/bg/about.webp");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
  background-position: center;
}

#contact{

	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url("../res/bg/contact.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
  background-position: center;
}

#info{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url("../res/bg/contact2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
  background-position: center;
}

#fact{
/*	background-color: rgb(0,3,25);*/
	background-color: rgb(17 24 39);
	background-size: cover;
	background-repeat: none;
  background-position: center;
}

#form{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../res/bg/loginSignup.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
  background-position: center;
}

.infoScroll::-webkit-scrollbar {
  display: none;
}
.infoScroll {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.factItem{
	margin:1rem;
	display: list-item;
	list-style-type: disc;
}

.heroOverlay{
	transform: translateY(0);
	transition: all 0.3s ease-out;
}

.heroOverlay.scrolled{
	transform: translateY(-100%);
}
/*Class CSS*/
.link{
	transition: all 0.3s ease-out;
	background-image: linear-gradient(rgb(46, 51, 194), rgb(46, 51, 194));
  background-size: 0% 1px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-out;
  padding-bottom: 4px;
  background-position: 50% calc(100% - 0px)
}
.link:hover{
	color: rgb(46, 51, 194);
	background-size: 100% 1px;
}

.coolButton{
	transition: all 1s;
}

.coolButton:hover{
	background-color: rgb(26,31,174);
}

.wavyCurve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyCurve svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 133px;
}

.wavyCurve .shape-fill {
    fill: rgb(17 24 39);

  }



.secondCurve .shape-fill {
    fill: rgb(0,3,25);
}

/** For tablet devices **/
@media(max-width: 768px) {
		.wavyCurve svg{
/*				width: calc(106% + 1.3px);*/
        height: 10%;
		}
    
}

/*Landing page Hamburger*/

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
 	-webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border-radius: 1rem;
	background-color: white;
}

.hamburger .line:nth-child(1) {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.hamburger .line:nth-child(2) {
  stroke-dasharray: 40 60;
  stroke-width: 6;
}
.hamburger .line:nth-child(3) {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}



/*Navbar*/
.navLink{
	height: 100%;
  color: white;
  background-image: linear-gradient(rgb(150,150,150), rgb(150,150,150));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  padding-bottom: 4px;
  background-position: 50% calc(100% - 0px)
}

.navLink:hover{
	background-size: 100% 2px;
	color:rgb(200,200,200);
}
.navLinkSmall{
	-webkit-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	color: white;
	margin: 1.5rem;
    background-image: linear-gradient(rgb(150,150,150), rgb(150,150,150));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    background-position: 50% calc(100% - 0px)

}

.navLinkSmall:hover{
	background-size: 100% 2px;
	color:rgb(200,200,200);
}


#navbar{
	transition: 0.7s all ease-out;
	position: fixed;
	top: 0;
	width: 100%;
}


/* Change on scroll */

#navbar.scrolled{
	background-color: white;
	color:rgb(20,20,20);
}

.logo.scrolled{
	color: rgb(20,20,20);
}

.navLink.scrolled{
	color: rgb(20, 20, 20);
}

.line.scrolled{
		stroke:rgb(20,20,20);
		background-color: rgb(20,20,20);
		color: rgb(20,20,20);
}


/*Alert css*/

#errorAlert{
	transition: 0.6s all;
}

#progress {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

#bar {
	height: 4px;
	width: 100%;
	transition: all 5s linear;
	background: #833ab4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*Media Queries*/

@media(max-width:1028px){
/*	Hamburger menu	*/
	.hamburger{
		display: block;
		position: fixed;
	}

	.hamburger.active .line:nth-child(1) {
	  stroke-dasharray: 90 207;
	  stroke-dashoffset: -134;
	  stroke-width: 6;
	}
	.hamburger.active .line:nth-child(2) {
	  stroke-dasharray: 1 60;
	  stroke-dashoffset: -30;
	  stroke-width: 6;
	}
	.hamburger.active .line:nth-child(3) {
	  stroke-dasharray: 90 207;
	  stroke-dashoffset: -134;
	  stroke-width: 6;
	}

/* Navbar */
	.navBar{
		position: absolute;
		top: -100svh;
		margin: auto;
		transition: 0.7s all;
		background-color: rgba(0,0,0,0.5);
		z-index: 2;
		overflow: hidden;

	}
	.navBar.active{
		position: fixed;
		top:0;
	}

	
}