{% extends 'auth/baseAuth.html' %}
{% block title %} Resend Email Form {% endblock %}
{% block content %}
<style type="text/css">
label {
    display: none;
}

input#id_email {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: #E5E7EB;
    outline-style: none;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.5rem;
    color: #6B7280;
    background-color: #ffffff;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    width: 80%;


}
</style>
<div class="h-[55vh] w-[80vw] md:w-[70vw] lg:w-[40vw] bg-white border border-gray-200 rounded-xl shadow-2xl flex flex-col justify-center items-center ">
    <div class="text-[#4C51E0] py-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
    </div>
    <h1 class="text-center text-gray-600 text-3xl py-2"><b>Resend Email Form</b></h1>
    <p class="text-center px-16 text-gray-500 py-2">Please provide your email ID so that a new email can be sent for verification</p>
    <form method="POST" class="flex flex-col justify-center items-center w-full">
        {% csrf_token %}
        {{form}}
        <button class="coolButton shadow-2xl bg-[#4C51E0]  rounded-lg text-white px-4 py-2 my-4 mx-8 " type="submit">Resend Email</button>
    </form>
</div>
{% endblock %}
{% block alertConditions %}
{% endblock %}