{% extends 'auth/baseAuth.html' %}

{% block title %} ERROR 404 Page Not Found {% endblock %}

{% block content %} 
<div class="h-[55vh] w-[80vw] md:w-[70vw] lg:w-[40vw] bg-white border border-gray-200 rounded-xl shadow-2xl flex flex-col justify-center items-center ">
    <div class="text-[#4C51E0] py-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 16.318A4.486 4.486 0 0 0 12.016 15a4.486 4.486 0 0 0-3.198 1.318M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
</svg>

    </div>
    <h1 class="text-center text-gray-600 text-3xl py-2"><b>ERROR 404</b></h1>
    <p class="text-center px-16 text-gray-500 py-2"> Sorry, your requested page was not found:( </p>
</div>

 {% endblock %}